**/.ipynb_checkpoints/
**/.vscode/
**/__pycache__/
**/ckpts/*
**/saved/*
**/backup.ipynb
02-basic-models/*.jpg

01-numpy/07-Scipy-Basic.ipynb

02-basic-models/04-Recurrent-Neural-Networks.ipynb
02-basic-models/08-Recurrent-Neural-Networks-with-Custom-Model.ipynb
02-basic-models/11-Regularization-for-Auto-Encoder.ipynb

03-generative-models/05-Info-GAN.ipynb
03-generative-models/06-LS-GAN.ipynb
03-generative-models/07-WGAN-GP.ipynb

/temp
